.Button {
  font-size: 0.8rem;
  align-self: center;
  border-radius: 100px;
  border-color: transparent !important;
  padding: 4px 10px;
  margin-left: 2px;
  margin-right: 2px;
  min-width: 20px;
  background-color: #00bae2 !important;
  color: #281713;
  text-decoration: none;
}

.Button:hover {
  opacity: 0.8;
  border-color: transparent;
  cursor: pointer;
  background-color: #ff0000 !important;
}

.Button:hover:active {
  background-color: #ff0000 !important;
}

.Button:active {
  background-color: #ff0000 !important;
}

.Button:focus {
  background-color: #ff0000;
}

.Wide {
  padding: 10px 50px;
  width: 100%;
}

