.Button {
  font-size: 0.8rem;
  align-self: center;
  border-radius: 100px;
  border-color: transparent;
  padding: 4px 10px;
  margin-left: 2px;
  margin-right: 2px;
  min-width: 20px;
  background-color: #f9b248;
  color: #0e2431;
}

.Button:hover {
  opacity: 0.8;
  border-color: transparent;
  cursor: pointer;
  background-color: #fc3a52;
}

.Button:hover:active {
  background-color: #fc3a52 !important;
}

.Button:active {
  background-color: #f9b248 !important;
}

.Button:focus {
  background-color: #fc3a52;
}

.Wide {
  padding: 10px 50px;
  width: 100%;
}
