.Form {
    border: 2px solid #281713;
    
  }

  .CommentFormContainer {
    display: flex;
    justify-content: center; 
    width: 100%;
  }
  
  .Button {
    border: none;
    color: #00bae2;
    border-radius: 100px;
    padding: 4px 20px;
    min-width: 45px;
    margin: 5px;
  }
  
  .Button:hover {
    cursor: pointer;
    color: #ff0000;
  }

  @media (min-width: 992px) {
    .CommentFormContainer {
      justify-content: flex-start; 
    }
  }