.Form {
    border: 2px solid #281713;
    
  }
  
  .Button {
    border: none;
    color: #00bae2;
    border-radius: 100px;
    padding: 4px 10px;
    min-width: 45px;
    margin: 5px;
  }
  
  .Button:hover {
    cursor: pointer;
    background-color: #00bae2;
    color: #ff0000;
  }