.Container {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    background-color: #e9ecef;
    border-radius: 10px;
    margin-top: 20px;
    padding: 5px 10px;
}

.Header {
    background: linear-gradient(135deg, #ff0000, #00bae2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}