.landingPage {
    background-image: url('../assets/landing_page.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    text-align: center;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.link {
    text-decoration: none;
    color: #f9b248;
    font-size: 24px;
    padding: 10px 20px;
    border: 2px solid #f9b248;
    border-radius: 5px;
    transition: 0.3s;
}

.link:hover {
    background-color: #0e2431;

}

.tagline {
    font-size: 22px;
    font-weight: bolder;
    color: #f9b248;
    margin-top: 20px;
}

/* Smaller Screen Optimization */
@media (max-width: 768px) {
    .landingPage {
        background-size: cover;
        background-attachment: fixed;
        background-image: url('../assets/landing_page_mobile.jpg');
        flex-direction: column;
    }

    .link {
        text-decoration: none;
        color: #0e2431;
        font-size: 24px;
        padding: 10px 20px;
        border: 2px solid #0e2431;
        border-radius: 5px;
        transition: 0.3s;
    }

    .buttonContainer {
        flex-direction: row;
        gap: 10px;
    }

    .tagline {
        margin-top: 0;
        margin-bottom: 250px;
        color: #0e2431;
    }

    .link:hover {
        background-color: #fc3a52;
    }

}