.Container {
  margin-top: 10%;
}

/* Hero Section */
.HeroRow {
  padding: 10px 0;
  text-align: center;

}

.Heading {
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgb(255, 0, 0);
  border-radius: 10px;
  background-color: white;
  font-style: italic;
}

.Subheading {
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgb(255, 0, 0);
  background-color: white;
  font-style: italic;

}

 /* These styles apply when the screen is 768px or wider */
@media (min-width: 768px) {
  .Heading {
    background-color: white;
    font-size: 50px;
    box-shadow: 0 4px 8px rgb(255, 0, 0);
  }

  .Subheading {
    font-size: 20px;
  }

}