.tagline {
    font-size: 30px;
    font-weight: bolder;
    color: #f9b248;
    margin-top: 40%;
    text-align: center;
  }

  /* Smaller Screen Optimization */
@media (max-width: 768px) {
    .tagline {
      margin-top: 0;
      margin-bottom: 300px;
      color: #0e2431;
  }
}