.Header {
    text-align: center;
    padding-top: 15px;
    background: linear-gradient(135deg, #ff0000, #00bae2);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;  
}

.Map {
    margin-top: -10%;
    position: fixed;
    border: none !important;
}

.MapContainer svg:focus,
.MapContainer svg *:focus {
  outline: none;
}