.NavBar {
    background-color: #00bae2;
}

.NavLink {
    padding: 15px;
    text-decoration: none;
    color: #281713;
}

.NavLink:hover {
    color: #ff0000
}

.Active {
    color: #ff0000;
}

.Avatar {
    margin-top: 6px;
}