.NavBar {
    background-color: white;
    padding-left: 10px !important;
}

.NavLink {
    padding: 15px;
    text-decoration: none;
    color: #281713;
}

.NavLink:hover {
    color: #ff0000
}

.Active {
    background: linear-gradient(to right top, #00bae2, #40a3ff, #c173ef, #ff0093, #ff0000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}