.Container {
    background-color: #00bae2;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(247, 17, 17, 0.5);
    padding: 15px;
}

.Card {
    background-color: whitesmoke;
}

.Title {
    text-decoration: none !important;
    color: #ff0000;
    font-family: "Kranky", serif;
}

.Title:hover {
    color: #00bae2;
}

.Header, .CardBody {
    font-family: "Kranky", serif;
    background: linear-gradient(135deg, #ff0000, #281713);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 991px) {
    .Container {
      display: none; 
    }
  }