.Post {
    background-color: #ffffff;
    border: 1px solid #281713;
    border-radius: 2px;
    margin-bottom: 16px;
    text-align: center;
  }
  
  .Hidden {
    display: none;
  }
  
  .Post figure,
  h5 {
    margin: 0 0;
  }

  .Image {
      width: 100%;       
      height: auto;       
      min-height: 300px;  
      object-fit: cover;  
  }

  .Profile {
    text-decoration: none;
  }

  .Profile:hover {
    color: #ff0000;
  }

  span {
    padding-left: 5px;
  }
  
  .User {
    color:#281713
  }

  .User:hover {
    color: #ff0000;
  }