.Post {
    background-color: #ffffff;
    border: 1px solid #281713;
    border-radius: 2px;
    margin-bottom: 16px;
    text-align: center;
  }
  
  .Post figure,
  h5 {
    margin: 0 0;
  }

  .Profile {
    text-decoration: none;
  }

  .Profile:hover {
    color: #ff0000;
  }

  span {
    padding-left: 5px;
  }
  