button {
  border: none;
  background-color: #ffff;
}
i:hover {
  color: #ff0000;
}

.ProfileImage {
  width: 80%;
  border-radius: 5%;
  box-shadow: 4px 8px 4px -2px #ccc,  0px 0px 6px -2px #ccc;
}

.Profile {
  padding-top: 40px;
}

.Link {
  text-decoration: none;
}

.Status {
  font-family: "Kranky", serif;
  font-weight: 400;
  font-style: normal;
  font-size: larger;
}