.ProfileContainer {
  max-width: 900px;
  margin: auto;
  padding-top: 20px;
}

.Countries {
  background: linear-gradient(135deg, #ff0000, #00bae2);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;  
}

.HeroSection {
  position: relative;
  height: 300px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.ProfileContent {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
  gap: 10px;
}

.ProfileImage {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border: 1px solid white;
  margin-bottom: 10px;
}

.ProfileText {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 800;
  font-style: italic;
  background: linear-gradient(135deg, white,  #00bae2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.Status {
  font-style: italic;
  color: #00bae2;
  background: linear-gradient(135deg, white, #00bae2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ThemeSong {
  margin-top: 5px;
}

.ProfileNav {
  margin-top: 20px;
}

.TabContent {
  margin-top: 20px;
  padding-bottom: 10px;
}

.NavLink {
  color: #281713;
}

.NavLink:hover {
  color: #ff0000;
}

.EditIcon {
  text-decoration: none;
  background: linear-gradient(135deg, #ff0000, #00bae2);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;  
}

.EditIcon:hover {
   color: #ff0000;
}