.Row {
  height: calc(100vh - 81px);
}
.Input {
  background: #ffffff;
  border: 1px solid black !important;
  box-sizing: border-box;
  border-radius: 2px;
  text-align: center;
  padding: 10px;
}

.Header {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #0e2431;
}

.Link {
  text-decoration: none;
  text-align: center;
  display: block;
  margin: auto;
  color: #281713;
}

.Link:hover {
  color: #ff0000;
  cursor: pointer;
}

.SignInCol {
  height: 320px;
}

.SignUpCol {
  height: 375px;
}

 /* Smaller Screen Optimization */
 @media (max-width: 768px) { 
  /* Moves the sign in Link closer to the reg form */
  .SignInLink {
    margin-top: -80px;
  }
}