.PreferenceItem {
    background: linear-gradient(135deg, #ff0000, #00bae2);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;  
}

.EditIcon {
    color: #281713;
}

.EditIcon:hover {
    cursor:pointer;
    color:#00bae2;
}
